* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post__btns {
    display: flex;
}


.page__wrapper {
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    
}

.page{
    margin-right: 5px;
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
    border-radius: 35%;
    width: 38px;
    text-align: center;
    
}

.page__current {
    border:2px solid rgb(7, 174, 174);
    background-color: rgb(7, 174, 174);
}

.navbar{
    height: 50px;
    width: 100vw;
    display: flex;
    align-items:center;
    padding: 0 15px;
    background: rgb(114, 224, 201);
}

.navbar__links {
    margin: auto;
}